body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 10px;
    text-align: center;
  }
  
  header a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
  }
  
  header hr {
    border: none;
    border-top: 1px solid #ffffff;
  }
  
  h2 {
    color: #4CAF50;
  }
  
  p {
    color: #333333;
  }
  
  fieldset {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  legend {
    font-weight: bold;
    color: #4CAF50;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
  }
  
  table img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  footer {
    background-color: #4CAF50;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer hr {
    border: none;
    border-top: 1px solid #ffffff;
  }
  